@using Order
@using smartHookah.Helpers
@using Westwind.Globalization
@model smartHookah.Models.RegisterViewModel
@{
    ViewBag.Title = DbRes.T("createNewAccount", "Registration");
}

<style>
    span.checkbox-decorator { left: 1rem !important; }
</style>
<div class="card">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registrationForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label bmd-label-static" for="DisplayName">@LocalizationHelper.Translate("displayName", "Registration")</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label bmd-label-static" for="Password">@LocalizationHelper.Translate("password", "Registration")</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label bmd-label-static" for="ConfirmPassword">@LocalizationHelper.Translate("confirmPassword", "Registration")</label>

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label bmd-label-static">Spracovanie osobnych udajov</label>
                <div class="checkbox" style="padding-left: 1rem; padding-top: 1rem">
                    <label>
                        <input data-val="true" name="termsConditions" data-val-mustbetrue="The field Terms Are Accepted is invalid." type="checkbox" id="personalData"> Suhlasim so spracovanim osobnych udajov <a data-toggle="modal" href="#personData">prezrieť</a>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6 control-label bmd-label-static">Podmienky sluzby</label>
                <div class="checkbox" style="padding-left: 1rem; padding-top: 1rem">
                    <label> <input name="termsConditions" data-val="true" data-val-mustbetrue="The field Terms Are Accepted is invalid." type="checkbox" id="TermOfUssage" value="false"> Suhlasim s podmienkami pre pouzivanie sluzby manapipes <a data-toggle="modal" href="#termOfussage">prezrieť</a>
                    </label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success btn-raised"> @LocalizationHelper.Translate("register", "Registration")</button>
                </div>
            </div>
        </div>
    }
</div>

@section modals
{
    <div class="modal fade" id="personData">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ochrana osobnych udajov</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Assets/_PrivacyPolicy.cshtml")


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Order.close</button>
                </div>


                <!-- /.modal-content -->

            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    
    <div class="modal fade" id="termOfussage">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Podmienky pouzivania</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Assets/_TermOfUssage.cshtml")


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Order.close</button>
                </div>


                <!-- /.modal-content -->

            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $("#registrationForm").validate({
            rules:{
                termsConditions : "required"
            }

        });
    </script>
}
