@model smartHookah.Models.Event

@{
    ViewBag.Title = $"Details of {Model.Name}";
 
}

<div class="">
    <div class="card">
        <table class="table table-striped">
            <tr>
                <td colspan="4">@Model.Description</td>
            </tr>
            <tr>
                <td>From:</td>
                <td>@(Model.From?.ToString("dd.MM.yyyy") ?? "")</td>
                <td>To:</td>
                <td>@(Model.To?.ToString("dd.MM.yyyy") ?? "")</td>
            </tr>
            <tr>
                <td>Experience:</td>
                <td>@Model.Experience</td>
                <td>Clouds:</td>
                <td>@Model.Clouds</td>
            </tr>
        </table>
    </div>

    <div class="card-deck row">
        <div class=" card col-md-6">
            <h4 class="card-header">Rewards</h4>
            <ul>
                @foreach (var req in Model.Rewards)
                {
                    <li>@req.Name</li>
                }
            </ul>
           
            @if (User.IsInRole("Admin"))
            {
              
            }
        </div>
        <div class=" card col-md-6">
            <h4 class="card-header">Requirements</h4>
            <ul>
                @foreach (var req in Model.Recepies)
                {
                    <li>@req.Type</li>
                }
            </ul>
          
            @if (User.IsInRole("Admin"))
            {
               
            }
        </div>
    </div>
</div>

@section dropmenu
{
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success"href="@Url.Action("CreateReward",new {Model.Id})">Create reward&nbsp;<i class="fa fa-plus"></i></a>
        <a class="btn btn-success"href="@Url.Action("CreateEventRecepie",new {Model.Id})">Create requirements&nbsp;<i class="fa fa-plus"></i></a>
    }
 
}
