@model smartHookah.Models.Db.Tobacco

<div class="card">
    <h3 class="card-header">Tobacco review</h3>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <b>Summary of @Model.Reviews.Count reviews:</b>
            </div>
            <div class="col-md-2 col-xs-6">
                <b>Smoke:</b>@Model.Statistics.Smoke.ToString("N2")
                <input type="number" class="rating" value="@((int) Model.Statistics.Smoke)" data-readonly />

            </div>
            <div class="col-md-2 col-xs-6">
                <b>Taste:</b>@Model.Statistics.Taste.ToString("N2")
                <input type="number" class="rating" value="@((int) Model.Statistics.Taste)" data-readonly />

            </div>
          
            <div class="col-md-2 col-xs-6">
                <b>Overal:</b>@Model.Statistics.Overall.ToString("N2")
                <input type="number" class="rating" value="@((int) Model.Statistics.Overall)" data-readonly />

            </div>
        </div>

        <hr />
        <div class="list-group">
        </div>
    </div>
</div>