@model IEnumerable<smartHookah.Models.Db.Brand>

@{
    ViewBag.Title = @Home.Home.tobacco;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        vertical-align: middle!important;
    }
</style>
<div class="card">
  

    @section dropmenu
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-raised btn-success w-100" })
    }

    
    <table class=" card-body table" style="text-align: center">
        <tr>

            <th>
            
            </th>
            <th style="text-align: center">
                @Tbc.Tobacco.name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Picture" height="50px" />
                </td>
                <td>
                    @item.DisplayName
                </td>
                <td>
                    @Html.ActionLink(@Home.Home.findMore, "ByBrand", new { brand = item.Name}, new {@class="btn btn-info"})
                </td>
            </tr>
        }

    </table>
</div>