@using smartHookah.Helpers
@model string

@{
    Layout = null;
}

<div class="modal fade" id="addModal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">@LocalizationHelper.Translate("AddGearHeader", "AddGearModal")</h4>
               </div>
            <div class="modal-body">
                @Html.Hidden("userId",Model)
                <div class="row">
                    <div class="col-md-6">
                        <label>@LocalizationHelper.Translate("AddGearType", "AddGearModal")</label>
                        <div class="input-group">
                            <select id="type" class="form-control" onchange="LoadBrand()">
                                <option value="" selected="selected">None</option>
                                <option value="tobacco">Tobacco</option>
                                <option value="bowl">Bowl</option>
                                <option value="pipe">Hookah</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label>@LocalizationHelper.Translate("AddGearBrand", "AddGearModal")</label>
                        <div class="input-group">
                            <select id="brand" class="form-control" onchange="LoadItems()">
                                <option value="">None</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <label style="padding-left: 1em">@LocalizationHelper.Translate("AddGearCantFind", "AddGearModal")</label>
            <a class="btn btn-success" href="@Url.Action("Create","PipeAccesorry")">@LocalizationHelper.Translate("AddGearCreateBtn", "AddGearModal")&nbsp;<i class="fa fa-plus-circle"></i></a>
            <hr />
            
            <div id="items"></div>
            <hr />

            <!-- /.modal-content -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@LocalizationHelper.Translate("AddGearCloseBtn", "AddGearModal")</button>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script type="text/javascript">
    function 
        LoadBrand() {
        $.ajax(
            {
                type:
                    "GET",
                url:
                    '@Url.Action("GetBrands", "PipeAccesorry")',
                data:
                {
                    'type': $('#type').val()
                },
                dataType:
                    'json',
                success:
                    function (data) {
                        var options = $("#brand");
                        options.empty();
                        options.append($("<option />").val('').text('None'));
                        $.each(data.brans,
                            function (index,value) {
                                var $option = $("<option />").val(value).text(value);
                                options.append($option);
                            }
                        );
                    }
            }
        );
    }

    function LoadItems() {
            $.ajax(
                {
                    type:
                        "GET",
                    url:
                        '@Url.Action("GetNamePartial", "PipeAccesorry")',
                    data:
                    {
                        'type': $('#type').val(),
                        'brand':$('#brand').val(),
                        'personId':'@Model',
                    },
                    dataType:
                        'html',
                    success:
                        function (data) {
                            console.log(data);
                            $('#items').empty();
                            $('#items').html(data);
                        }
                }
            );
    }
    
    function AddNewGear(gearId, gearAmount, element) {
    $.ajax(
    {
        type:
            "POST",
        url:
            '@Url.Action("AddGear", "Person")',
        data:
        {
            'id': gearId,
            'amount': gearAmount,
            'personId':@Model
        },
        dataType:
            'html',
        success:
            function (data) {
                console.log(data);
                $('#myGear').empty();
                $('#myGear').html(data);
                $(element).attr('disabled', 'disabled');
                $(element).closest('tr').addClass('ownedAccesory');
            }
    }
);
    }
    
</script>