@using smartHookah.Models
@using smartHookah.Models.Db
@model TobaccoListViewModel

@helper GetTobacoDiv(IGrouping<string, Tobacco> tobaccoGrb)
{
    <div class="array-item">
        <h5>@tobaccoGrb.Key</h5>
        <ul style="display: table">

            @foreach (var tobacco in tobaccoGrb)
            {
                <li style="display: table-row">
                    <span style="display: table-cell">@tobacco.AccName </span>
                    <a class="btn btn-sm btn-success " style="display: table-cell" href="@Url.Action("Details", "Tobacco", new {id = tobacco.Id})">
                        <i class="fa fa-info-circle"></i>
                    </a>

                    @if (Model.CanEdit)
                    {
                        <button style="display: table-cell" class="btn btn-sm btn-danger" onclick="RemoveGear(@tobacco.Id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
}

<div class="row border-between">
    @{
        var allTobacosGrp = Model.Tobaccos.GroupBy(a => a.BrandName).OrderBy(a => a.Key).ToArray();
        var allTobacos = Model.Tobaccos.Count();
        var oneColumn = (allTobacos + allTobacosGrp.Length)/3;
        var added = 0;
        var tobacoGrdIndex = 0;
    }

    <div class="col-md-4 ">
        @while ((added < oneColumn) && (tobacoGrdIndex < allTobacosGrp.Length))
        {
            @GetTobacoDiv(allTobacosGrp[tobacoGrdIndex])

            added = added + allTobacosGrp[tobacoGrdIndex].Count() + 1;
            tobacoGrdIndex++;
        }
    </div>

    <div class="col-md-4">
        @while ((added < oneColumn*2) && (tobacoGrdIndex < allTobacosGrp.Length))
        {
            @GetTobacoDiv(allTobacosGrp[tobacoGrdIndex])

            added = added + allTobacosGrp[tobacoGrdIndex].Count() + 1;
            tobacoGrdIndex++;
        }
    </div>
    <div class="col-md-4">
        @while ((added < oneColumn*3) && (tobacoGrdIndex < allTobacosGrp.Length))
        {
            @GetTobacoDiv(allTobacosGrp[tobacoGrdIndex])

            added = added + allTobacosGrp[tobacoGrdIndex].Count() + 1;
            tobacoGrdIndex++;
        }
    </div>
</div>