@using smartHookah.Helpers
@using smartHookah.Models
@using smartHookah.Models.Redis
@model smartHookah.Controllers.PersonIndexViewModel


<style>

    .hookahs {
     padding-left: 23px;
    padding-right: 23px;
    }

   .hookahs .list-group-item {
    font-weight: bold;
    /* color: black; */
    padding-bottom: 5px;
}

    .offline {
        opacity: 0.5;
    }

    .offline a {
        color: black;
    }

    i.confirmed, i.created {
        color: white;
        background-color: #4caf50;
        padding: 5px;
        margin: -5px;
        border-radius: 10px;
    }

    i.confirmationrequired {
        color: white;
        background-color: #ff5722;
        padding: 5px;
        margin: -5px;
        border-radius: 10px;
    }


    i.visitconfirmed {
        color: white;
        background-color: #03a9f4;
        padding: 5px;
        margin: -5px;
        border-radius: 10px;
    }

</style>

<div>

    <div class="row">
        @if(Model.Hookah.Any())
        {
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-header">@LocalizationHelper.Translate("Stands", "Common")</h4>
              

                    <div class="card-body">
                        <div class="list-group hookahs">
                            @foreach (var hookah in Model.Hookah)
                            {
                                <a href="@Url.Action("Hookah", "SmokeSession", new {id = hookah.Code})" class="btn btn- @(Model.OnlineHookah.Contains(hookah.Code) ? "online btn-success btn-raised" : "offline") list-group-item">
                                    <span>@hookah.Name</span>
                                </a>
                            }
                        </div>
                    </div>
                  
                </div>

            </div>
        }
        <div class="@(Model.Hookah.Any()?"col-md-8":"col-md-12")">
            <div class="card mb-3">
                <h4 class="card-header">@LocalizationHelper.Translate("ActiveSession", "Person") <a class="btn btn-sm btn-success btn-raised pull-right" style="margin-bottom:0px" href="@Url.Action("GoToSession","Home")">@LocalizationHelper.Translate("GoToSession", "Common") &nbsp;<i class="fa fa-link"></i></a></h4>
                <div class="card-body">
                    @{ bool haveActiveSession = false;}
                 
                    <div class="list-group card-body">
                        @foreach (var activeSession in Model.ActiveSession)
                        {
                            DynamicSmokeStatistic dynamicStatistic = new DynamicSmokeStatistic();
                            if (!Model.DynamicStatistic.TryGetValue(activeSession.SessionId, out dynamicStatistic))
                            {
                                continue;
                            }
                            else
                            {
                                haveActiveSession = true;
                            }



                            <div>    
                                @{ Html.RenderPartial("~/Views/SmokeSession/_ActiveSession.cshtml", new ActiveSessionListItemViewModel()
                                   {
                                       DynamicSmokeSession = dynamicStatistic,
                                       SmokeSession = activeSession
                               
                                   }); }</div>
                           
                        }
                        @if(!haveActiveSession)
                        {
                            <div class="card-text">
                                <h5>@LocalizationHelper.Translate("NoActiveSession", "Person")</h5>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div>
             
            

            </div>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">@LocalizationHelper.Translate("Reservation", "Person")<a class="btn btn-sm btn-success btn-raised pull-right" style="margin-bottom:0px" href="@Url.Action("Index","Places")">@LocalizationHelper.Translate("CreateReservation", "Person") &nbsp;<i class="fa fa-link"></i></a></h4>
        <div class="card-body">
            @if (Model.ActiveReservations.Any())
            {

                <div class="list-group card-title">
                    @foreach (var reservations in Model.ActiveReservations.OrderBy(a => a.Time))
                    {
                        <div class="list-group-item tobaccoListStat">
                            <div class="list-group-item-heading row w-100" title="@reservations.Status">  
                                <span class="col-md-2 col-xs-6"> <i class="fa fa-calendar @reservations.Status.ToString().ToLower()"></i>&nbsp;@reservations.Time.ToString("dd.MM.yyyy")</span>
                                <span class="col-md-2 col-xs-6"><i class="fa fa-clock-o"></i>&nbsp;@reservations.Time.ToString("hh:mm")</span>
                                <span class="col-md-2 col-xs-6"> <i class="fa fa-hourglass-half"></i>&nbsp;@reservations.Duration.ToString(@"hh\:mm")</span>
                                <span class="col-md-1 col-xs-6"><i class=" fa fa-users"></i>&nbsp;@reservations.Persons</span>
                                <span class="col-md-3 col-xs-8"><a href="@Url.Action("Details","Places",new {id = reservations.Place.FriendlyUrl})"><i class=" fa fa-building"></i>&nbsp; @reservations.Place.Name</a></span>
                                <div class="col-md-2"><a href="@Url.Action("Details","Reservation",new {id = reservations.Id})"><i class="fa fa-info-circle"></i>&nbsp; @LocalizationHelper.Translate("MoreInfo", "Common")</a></div>
                            </div>
                            
                             
                        </div>
                        
                    }
                </div>
            }
        </div>
    </div>
    <div>
    </div>
</div>

