@using System.Configuration
@using Newtonsoft.Json
@using smartHookah.Helpers
@using Westwind.Globalization
<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="~/Content/manifest.json">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext">
    <link href="~/Content/images/icons/icon-128x128.png" rel="apple-touch-icon" sizes="128x128" />
    <link rel="apple-touch-startup-image" href="~/Content/splash.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta property="og:title" content="Manapipes" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://app.manapipes.com/Content/images/icons/icon-96x96.png" />
    <meta property="fb:app_id" content="@ConfigurationManager.AppSettings["fbAppId"]" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3f51b5">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3f51b5">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3f51b5">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title - ManaPipes</title>
    @*@Styles.Render("~/Content/cssAll")*@

    @Styles.Render("~/Content/font-awesome")
    @*@Html.InlineStyles("~/Content/critical")*@
    @*@Styles.Render("~/Content/season")*@
    @Styles.Render("~/Content/material")
    @*@Styles.RenderFormat(" <link rel=\"preload\" href=\"{0}\" as=\"style\" onload=\"this.rel='stylesheet'\">", "~/Content/material")*@
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*Scripts.Render("~/bundles/select2")
        @Styles.Render("~/Content/select2")
    *@

    @Scripts.RenderFormat("<script type =\"text/javascript\" src=\"{0}\"></script>", "~/bundles/jqueryval")


    @*@Scripts.Render("~/bundles/jquery-rating")*@
    @Scripts.RenderFormat("<script type =\"text/javascript\" src=\"{0}\"></script>", "~/bundles/chart")
    @Scripts.RenderFormat("<script type =\"text/javascript\" src=\"{0}\"></script>", "~/bundles/main")

    @if (User.IsInRole("Admin"))
    {
        <script type="text/javascript" async src="~/LocalizationAdmin/scripts/ww.resourceEditor.js"></script>
    }

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js" async></script>

    <script src="~/Vue/bundle.js"></script>
    @Scripts.Render("~/bundles/vue")


    <script type='text/javascript'>
        $(document).ready(function () {
            $('select').not('.oldSelect').select2({
                theme: "material"
            });

            $(".select2-selection__arrow")
                .addClass("material-icons")
                .html("arrow_drop_down");
        });

        $(document).on('focus', '.select2', function (e) {
            if (e.originalEvent) {
                $(this).parent().addClass('is-focused');
            }
        });

        $(document).on('blur', '.select2', function (e) {
            if (e.originalEvent && !($(this).hasClass('select2-container--open') > 0)) {
                $(this).parent().removeClass('is-focused');
            }
        });

        var appInsights = window.appInsights ||
            function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f;
                for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0]
                    .parentNode.appendChild(s), t.cookie = u
                        .cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax'];
                    i.length;
                ) r('track' + i.pop());
                return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'),
                    config.disableExceptionTracking ||
                    (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t['_' + i](config, r, u, e, o), s
                    }), t
            }({
                instrumentationKey: '7f2421dd-679a-43d7-877f-d439c29c9cb1'
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

<div class="bmd-layout-canvas"><div class="bmd-layout-container bmd-drawer-overlay-md-down bmd-drawer-in-lg-up bmd-drawer-f-l">
        @Html.Partial("_Cookies")
     
        <header class="bmd-layout-header">
            <div class="navbar navbar-dark bg-faded" style="background-color: #3f51b5; color: #fff;">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="drawer" data-target="#my-drawer" aria-expanded="false">
                    <span class="sr-only">Toggle drawer</span>
                    <i style="color: white" class="material-icons">menu</i>
                </button>
                @*<ul class="nav navbar-nav">`
            <li class="nav-item">
                Manapipes
            </li>
        </ul>*@

                <ul class="nav navbar-nav mx-auto" style="margin-left: auto;max-width: 80%">
                    <h4 class="nav-item">@Html.Raw(ViewBag.Title)</h4>
                </ul>
                <ul class="nav navbar-nav pull-xs-right">
                    @* <li class="nav-item hidden-sm-down">
                <button class="btn bmd-btn-icon" title="Drawer force closed" id="drawer-visibility">
                    <i class="material-icons">visibility</i>
                    <div class="ripple-container"></div></button>
            </li>
            <li class="nav-item hidden-sm-down">
                <button class="btn bmd-btn-icon" title="Drawer left" id="drawer-f-l">
                    <i class="material-icons">border_left</i>
                    <div class="ripple-container"></div></button>
            </li>
            <li class="nav-item hidden-sm-down">
                <button class="btn bmd-btn-icon" title="Drawer right" id="drawer-f-r">
                    <i class="material-icons">border_right</i>
                    <div class="ripple-container"></div></button>
            </li>
            <li class="nav-item hidden-sm-down">
                <button class="btn bmd-btn-icon" title="Drawer top" id="drawer-f-t">
                    <i class="material-icons">border_top</i>
                    <div class="ripple-container"></div></button>
            </li>
            <li class="nav-item hidden-sm-down">
                <button class="btn bmd-btn-icon" title="Drawer bottom" id="drawer-f-b">
                    <i class="material-icons">border_bottom</i>
                </button>
            </li>


            <li class="nav-item">
                <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
                    <button class="btn bmd-btn-icon collapsed" for="search" data-toggle="collapse" data-target="#collapse-search" aria-controls="collapse-search" aria-expanded="false">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div></button>
                    <span id="collapse-search" class="width collapse" aria-expanded="false" style="width: 0px;">
                        <input class="form-control" type="text" id="search" placeholder="Enter your query...">
                    </span>
                </div>
            </li>*@
                    <li class="nav-item">

                        <div class="dropdown">
                            <button class="btn bmd-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                                <div class="ripple-container"></div></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                <a class="btn btn-danger" href="@Url.Action("Index","Report")">@LocalizationHelper.Translate("ReportBug", "Common")&nbsp;<i class="fa fa-bug"></i></a>
                                }
                                @RenderSection("dropmenu", required: false)

                                @*<button class="dropdown-item" type="button">About</button>
                        <button class="dropdown-item" type="button">Contact</button>
                        <button class="dropdown-item" type="button">Legal information</button>*@

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div data-resource-set="Menu" id="my-drawer" class="bmd-layout-drawer" aria-expanded="false" aria-hidden="true">
            <header >
                @Html.Partial("_LoginPartial")
            </header>
            <div class="list-group">
                <a href="@Url.Action("Index", "Home")"class="list-group-item">
                    <i class="material-icons" role="presentation">home</i>@LocalizationHelper.Translate("Home", "Menu")
                </a>
                <a href="@Url.Action("MyStatistic", "Person")" class="list-group-item">
                    <i class="fa fa-area-chart fa-material"></i>@LocalizationHelper.Translate("MyStatistic", "Menu")
                </a>
                <a href="@Url.Action("MyGear", "Person")" class="list-group-item">
                    <i class="material-icons" role="presentation">inbox</i>@LocalizationHelper.Translate("MyGear", "Menu")
                </a>
                <a href="@Url.Action("Index", "Tobacco")"class="list-group-item">
                    <i class="material-icons" role="presentation">delete</i>@LocalizationHelper.Translate("Tobacco", "Menu")
                </a>
                <a href="@Url.Action("Mix", "Tobacco")"class="list-group-item">
                    @*<i class="material-icons" role="presentation">report</i>@Home.Home.mixology*@
                    <i class="fa fa-pie-chart fa-material" style="font-size: 24px"></i>@LocalizationHelper.Translate("Mixology", "Menu")
                </a>
                <a href="@Url.Action("Index", "Places")"class="list-group-item">
                    <i class="material-icons" role="presentation">weekend</i>@LocalizationHelper.Translate("Place", "Menu")
                </a>
                <a href="@Url.Action("Index", "PipeAccesorry")"class="list-group-item">
                    <i class="fa fa-database fa-material"></i>@LocalizationHelper.Translate("SmokeGear", "Menu")
                </a>

                @*<a  href="@Url.Action("ChcGame","Game")"class="list-group-item">
                <i class="fa fa-gift fa-material"></i>Soutěž
            </a>*@

                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Index", "Admin")"class="list-group-item">
                        <i class="material-icons" role="presentation">home</i>Admin page
                    </a>


                    <a href="/LocalizationAdmin" target="_blank" class="list-group-item">
                        <i class="fa fa-globe fa-material"></i>L-Admin
                    </a>
                    <a href="#" onclick="toggleResourceIcons()" class="list-group-item">
                        <i class="fa fa-globe fa-material"></i>L- icons
                    </a>

            @*<a  href="@Url.Action("GameResult","Game")"class="list-group-item">
                <i class="fa fa-gift fa-material"></i>Vysledky
            </a>*@
                }@*<a class="list-group-item">
        <i class="material-icons" role="presentation">flag</i>Updates
    </a>
    <a class="list-group-item">
        <i class="material-icons" role="presentation">local_offer</i>Promos
    </a>
    <a class="list-group-item">
        <i class="material-icons" role="presentation">shopping_cart</i>Purchases
    </a>
    <a class="list-group-item">
        <i class="material-icons" role="presentation">people</i>Social
    </a>*@<a class="bmd-layout-spacer"></a>

                <a href="@Url.Action("Index", "Info")"class="list-group-item">
                    <i class="material-icons" role="presentation">help_outline</i><span class="sr-only">Help</span>
                </a>
            </div>
            <div class="lang">
                <span style="width: 70%; margin-bottom: 20px; margin-left: 20px;">@Home.Home.language </span>
                <div class="dropup">
                    <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="nav-lang-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">arrow_drop_up</i>
                        <div class="ripple-container"></div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-lang-menu">
                        <a href="javascript:changeLng('en')" class="dropdown-item">English</a>
                        <a href="javascript:changeLng('cs')" class="dropdown-item">Česky</a>
                        <a href="javascript:changeLng('sk')" class="dropdown-item">Slovensky</a>
                    </div>
                </div>
            </div>
        </div>


        <main class="bmd-layout-content">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <div class="bmd-layout-backdrop"></div>
    </div>
    @RenderSection("modals",false)</div>    

@*<script type="text/javascript" src="~/Vue/bundle.js"></script>*@
@Scripts.Render("~/bundles/bootstrap")
@Scripts.RenderFormat("<script type =\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/controll")
@Scripts.Render("~/bundles/signalr")
@Scripts.RenderFormat("<script type =\"text/javascript\" src=\"{0}\"></script>", "~/bundles/moment")
@Scripts.Render("~/bundles/material")
@*@Scripts.Render("~/bundles/highcharts")*@

<script src="~/signalr/hubs"></script>
<script type="text/javascript">

        function changeLng(lang)
    {
        // remove language '/fr/' or '/es/' if exists
        var path = window.location.pathname.replace(/\/[a-z]{2}/, '');
        // reload the page same url with the lang prefix
        window.location.href = '/' + lang + path;
    }
    if ('serviceWorker' in navigator) {
        window.addEventListener('load',
            function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    },
                    function(err) {
                        // registration failed :(
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
    }
        //$.holdReady( true );
    $(function() {
        $.stayInWebApp();
        $('body').bootstrapMaterialDesign();

        //if (document.cookie.indexOf("cookies") < 0) {
        //    $('#cookie-consent').slideDown('slow');
        //}
        //$('#consent').on('click', function () {
        //    document.cookie = "cookies=yes; max-age=" + (5*365*24*60*60);
        //    $('#cookie-consent').slideUp('slow');
        //});
        

    });

      

    window.fbAsyncInit = function() {
        FB.init({
            appId: '@ConfigurationManager.AppSettings["fbAppId"]',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
@RenderSection("scripts", required: false)
</body>
</html>
