@using smartHookah.Helpers
@using smartHookah.Models
@model smartHookah.Models.SmokeSessionMetaData

@{
    Layout = null;
}

@if (!Model.BowlId.HasValue && !Model.PipeId.HasValue && !Model.TobaccoId.HasValue)
{
    <h4>@LocalizationHelper.Translate("sSMetaDataNone", "SmokeSession")</h4>
    <input type="hidden" id="tobaccoEstimated" value="300"/>
}
else
{
    var estimatedTobacco = 300;
    if (Model.Tobacco != null && Model.Tobacco.Statistics != null)
    {
        estimatedTobacco = (int)Model.Tobacco.Statistics.PufCount;
    }

    <input type="hidden" id="tobaccoEstimated" value="@estimatedTobacco" />
    if (Model.Tobacco is TobaccoMix)
    {
        <text>
            @Html.Partial("~/Views/Tobacco/_TobaccoMix.cshtml", Model.Tobacco as TobaccoMix)
        </text>
    }
    <table class="table table-striped">
        <tbody>

        @if (Model.Tobacco is TobaccoMix)
        {
        }
        else
        {
            <tr>
                <td>
                    <i class="fa fa-building"></i>&nbsp;@LocalizationHelper.Translate("sSMetaDataTobBrand", "SmokeSession")
                </td>
                <td>
                    @if (Model.Tobacco == null)
                    {
                        <span>Unknown</span>
                    }
                    else
                    {
                        
                            <a href="@Url.Action("ByBrand","Tobacco",new {brand = @Model.Tobacco.BrandName})">@Model.Tobacco.Brand.DisplayName&nbsp;<i class="fa fa-info-circle"></i></a>
                       
                    }

                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/icons/tobacco.svg" width="18px" />&nbsp;@LocalizationHelper.Translate("sSMetaDataTobFlavor", "SmokeSession")
                </td>
                <td>
                    @if (Model.Tobacco == null)
                    {
                        <span>Unknown</span>
                    }
                    else
                    {
                       
                            <a href="@Url.Action("Details","Tobacco",new { id  = Model.Tobacco.Id})">@Model.Tobacco.AccName&nbsp;<i class="fa fa-info-circle"></i></a>
                   }

                </td>
            </tr>
        }

        <tr>
            <td>
                <img src="~/Content/icons/hookah.svg" width="18px" />&nbsp;@LocalizationHelper.Translate("sSMetaDataHookah", "SmokeSession")
            </td>
            <td>
                @if (Model.Pipe != null)
                {
                    <span> @Model.Pipe.Brand.DisplayName&nbsp;@Model.Pipe.AccName&nbsp;<a href="@Url.Action("Details","PipeAccesorry",new {id = @Model.Pipe.Id})"><i class="fa fa-info-circle"></i></a></span>
                }
                else
                {
                    <span>@LocalizationHelper.Translate("Common", "Unknown")</span>
                }
             

            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Content/icons/bowl.svg" width="18px" />&nbsp;@LocalizationHelper.Translate("sSMetaDataBowl", "SmokeSession")
            </td>
            <td>
                @if (Model.Bowl != null)
                {
                    <span> @Model.Bowl.Brand.DisplayName&nbsp;@Model.Bowl.AccName&nbsp;<a href="@Url.Action("Details","PipeAccesorry",new {id = @Model.Bowl.Id})"><i class="fa fa-info-circle"></i></a></span>
                }
                else
                {
                    <span>@LocalizationHelper.Translate("Unknown", "Common")</span>
                }
            </td>
        </tr>
        <tr>
            <td><img src="~/Content/icons/pack.svg" width="18px" />&nbsp;@LocalizationHelper.Translate("sSMetaDataPackStyle", "SmokeSession")</td>
            <td>@Model.PackType</td>
        </tr>
        <tr>
            <td><img src="~/Content/icons/lotus.svg" width="18px" />&nbsp;@LocalizationHelper.Translate("sSMetaDataHMS", "SmokeSession")</td>
            <td>@Model.HeatKeeper.EnumDescription()</td>
        </tr>
        <tr>
            <td><i class="fa fa-cubes"></i>&nbsp;@LocalizationHelper.Translate("sSMetaDataCoal", "SmokeSession")</td>
            <td>@Model.CoalsCount @LocalizationHelper.Translate("sSMetaDataCoalOfType", "SmokeSession") @Model.CoalType </td>
        </tr>
        </tbody>
    </table>
}