@model smartHookah.Controllers.GameResultModel

@{
    ViewBag.Title = "title";

}

<div class="card">
    
    All : @Model.All
    Mint :@Model.Mint
    Lemon :@Model.lemon
    Person: @Model.Persons.Count();
    <hr/>
    
    <ul>
    @foreach (var per in Model.Persons.OrderByDescending(a => a.Game.Value))
    {
        var user = Model.Users.FirstOrDefault(a => a.PersonId == per.Id);
        var name = "";
        if (user != null)
        {
            name = user.Email;
        }
      

        <li>@name @per.Id @per.Game.Value <strong>@(Model.Mint - per.Game.Value) </strong></li>
    }
    </ul>
</div>
