@using smartHookah.Controllers
@using smartHookah.Models
@model SmokeSession

@helper GetTobacoLabel()
    {
        if (Model.MetaData != null && Model.MetaData.Tobacco != null)
        {
            if (Model.MetaData.Tobacco is TobaccoMix)
            {
                var mix = (TobaccoMix)Model.MetaData.Tobacco;
                if (string.IsNullOrEmpty(mix.AccName))
                {
                    @:Mix of @mix.Tobaccos.Count: <br />




                    foreach (var tobaco in mix.Tobaccos)
                    {
                        <b>
                            &nbsp;<i class="fa fa-leaf"></i>&nbsp;@tobaco.Tobacco.Brand.DisplayName @tobaco.Tobacco.AccName   <br />
                        </b>
                    }
                    @:
                }
                else
                {
                    <i class="fa fa-leaf"></i>
                    <b>
                        @mix.AccName
                    </b>
                }
            }
            else
            {
                <i class="fa fa-leaf"></i>
                <b>
                    @Model.MetaData.Tobacco.Brand.DisplayName @Model.MetaData.Tobacco.AccName
                </b>
            }
        }
        else
        {
            Write("Unknown");
        }
}
@helper GetHookahLabel()
    {
        if (Model.MetaData != null && Model.MetaData.Pipe != null)
        {
            <i>
                from&nbsp;
            </i>
            <b>
                @Model.MetaData.Pipe.Brand.DisplayName @Model.MetaData.Pipe.AccName
            </b>
        }
        else
        {
            Write("Unknown");
        }
}

@helper GetHookahLogo()
    {
        if (Model.MetaData != null && Model.MetaData.Pipe != null && Model.MetaData.Pipe.Brand.Picture != null)
        {
            <img class="session-logo-img" src="@Model.MetaData.Pipe.Brand.Picture" />
        }
        else
        {
            <img class="session-logo-img" src="~/Content/images/icons/icon-384x384.png" />
        }
}

<div class="session-card-container">
    <div class="card session-card" onclick="flip(this)">
        <div class="front">
            <div class="row" style="max-width: 100%">
                <div class="card-header col-md-12 session-date session-card-row-1">
                    <i class="fa fa-calendar"></i>&nbsp;@Model.Statistics.Start.ToString("d.M.yyyy HH:mm")
                </div>
            </div>
            <div class="row" style="max-width: 100%;">
                <div class="col-md-5 col-sm-5 col-xs-5 session-logo session-card-row-2">
                    @GetHookahLogo()
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 session-tobaccos session-card-row-2">
                    @GetTobacoLabel()
                </div>
            </div>
            <div class="row" style="max-width: 100%;">
                <div class="col-md-12 col-sm-12 col-xs-12 session-hookah session-card-row-3">
                    @GetHookahLabel()
                </div>
            </div>
        </div>

        <div class="back">
            <div class="row" style="max-width: 100%;">
                <div class="col-md-12 col-sm-12 col-xs-12 session-details">
                    @if (Model.Review?.Overall != null)
                    {
                        <input type="number" name="smoke" id="smoke" class="rating" value="@(Model.Review?.Overall)" data-readonly /><br />
                    }

                    @{
                        var anonymous = Model.MetaData?.AnonymPeopleCount ?? 0;
                    }

                    <i class="fa fa-user"></i>&nbsp;@(Model.Persons.Count + anonymous)<br />

                    <i class="fa fa-hashtag"></i>&nbsp;@Model.Statistics.PufCount &nbsp; pufs<br />

                    <i class="fa fa-clock-o"></i> &nbsp;@Model.Statistics.SmokeDuration.ToString(@"hh\:mm\:ss")<br />

                    <i class="fa fa-hourglass-start"></i> &nbsp;@((Model.Statistics.End - Model.Statistics.Start).ToString(@"hh\:mm\:ss"))<br />

                    <i class="fa fa-trophy"></i> &nbsp;@Model.Statistics.LongestPuf.ToString(@"s\.fff") .sec<br />

                    <a href="@Url.Action("GetStatistics", "SmokeSession", new {id = Model.Id})" class="btn btn-default" style="position:absolute; bottom:0; right:0;">
                        @Res.Person.moreInfo&nbsp;<i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

