@using smartHookah.Models
@model smartHookah.Models.SmokeSession

<script type="text/javascript">
    function flip(ele) {
        $(ele).toggleClass('flipped');
    }
</script>

@helper GetTobacoLabel()
    {
        if (Model.MetaData != null && Model.MetaData.Tobacco != null)
        {
            if (Model.MetaData.Tobacco is TobaccoMix)
            {
                var mix = (TobaccoMix)Model.MetaData.Tobacco;
                if (string.IsNullOrEmpty(mix.AccName))
                {
                    @:Mix of @mix.Tobaccos.Count:
                    <ul class="tobacoMix">

                        @foreach (var tobaco in mix.Tobaccos)
                        {
                            <li>
                                @tobaco.Tobacco.Brand.DisplayName @tobaco.Tobacco.AccName
                            </li>
                        }
                    </ul>
                    @:
                }
                else
                {
                    Write($"{mix.AccName} (mix)");
                }
            }
            else
            {
                Write(@Model.MetaData.Tobacco.Brand.DisplayName + " " + @Model.MetaData.Tobacco.AccName);
            }
        }
        else
        {
            Write("Unknown");
        }
}
@helper GetHookahLabel()
    {
        if (Model.MetaData != null && Model.MetaData.Pipe != null)
        {
            Write(@Model.MetaData.Pipe.Brand.DisplayName + " " + @Model.MetaData.Pipe.AccName);
        }
        else
        {
            Write("Unknown");
        }
}

@helper GetHookahLogo()
    {
        if (Model.MetaData != null && Model.MetaData.Pipe != null && Model.MetaData.Pipe.Brand.Picture != null)
        {
            <img url="@Model.MetaData.Pipe.Brand.Picture.ToString()" />
        }
        else
        {
            <img src="~/Content/images/icons/icon-128x128.png"/>
        }
}



<section class="session-card-container">

    @if (Model.Statistics == null)
    {
        <div class="card session-card">
            <div class="front">
                <h5>
                    @DateTime.Now.ToString("dd.MM.yyyy HH:mm")<br />
                    <b>
                        Live session
                    </b>
                </h5>
                <a href="@Url.Action("GetStatistics","SmokeSession",new {id = Model.Id})" class="col-md-2"><i class="material-icons">info</i>Go live</a>
            </div>
            <div class="back"></div>
        </div>
    }
    else
    {
        <div class="card session-card " onclick="flip(this)">
            <div class="card-body">
                <div class="front">
                    <!--
        <i class="fa fa-calendar"></i>&nbsp;@Model.Statistics.Start.ToString("d.M.yyyy HH:mm")<br />
        <center>@GetHookahLogo()</center><br />
        <b>@GetTobacoLabel()</b><br />
        from <b>@GetHookahLabel()</b>-->
                    <div class="row">
                        <div class="col-4 session-logo">
                            logo
                        </div>
                        <div class="col-8 session-tobaccos">
                            tanz all de wey
                        </div>
                    </div>
                    <div class="session-hookah">
                        henlo fren
                    </div>
                </div>

                <div class="back">
                    @{
            var anonymous = Model.MetaData?.AnonymPeopleCount ?? 0;
                    }
                    <i class="fa fa-user"></i>&nbsp;@(Model.Persons.Count + anonymous)<br />
                    <i class="fa fa-hashtag"></i>&nbsp;@Model.Statistics.PufCount &nbsp; pufs<br />
                    <i class="fa fa-clock-o"></i> &nbsp;@Model.Statistics.SmokeDuration.ToString(@"hh\:mm\:ss")<br />
                    <i class="fa fa-hourglass-start"></i> &nbsp;@((Model.Statistics.End - Model.Statistics.Start).ToString(@"hh\:mm\:ss"))<br />
                    <i class="fa fa-trophy"></i> &nbsp;@Model.Statistics.LongestPuf.ToString(@"s\.fff") .sec
                    <br />
                    <a href="@Url.Action("GetStatistics","SmokeSession",new {id = Model.Id})" style="position: absolute; bottom: 15px; right: 15px;">
                        MORE INFO&nbsp;<i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</section>
