@using smartHookah.Controllers
@using smartHookah.Helpers
@using smartHookah.Models
@using smartHookah.Support

@model smartHookah.Controllers.SmokeStatisticViewModel

@functions {

}

@{
    Layout = null;
}

<table class="table table-responsive">
    
    <tbody>
    <tr style="display: none">
        <td><strong>@LocalizationHelper.Translate("GetLiveSSNumOfPuffs", "SmokeSession")</strong></td>
        <td class="pufCount">@Model.PufCount</td>
    </tr>
        <tr style="display: none" >
            <td><strong>@LocalizationHelper.Translate("GetLiveSSTobStamina", "SmokeSession")</strong></td>
            <td class="tobaccoStamina"></td>
        </tr>
    @if (true)
    {
        <tr style="display: none">
            <td><strong>@LocalizationHelper.Translate("GetLiveSSLastPuff", "SmokeSession")</strong></td>
            <td><span id="lastDuration">@Model.LastPufDuration.ToString(@"s\.fff") sec</span>.<span id="lastPufTime" data-time="@Model.LastPufTime.ToString("dd-MM-yyyy HH:mm:ss")"></span></td>
        </tr>

        @*<tr>
            <td><strong>Last puf strength</strong></td>
            <td>@(((double)Model.LastPresure/(double)Model.MaxPresure)* 100) %</td>
        </tr>*@
        <tr>
            <td><strong><i class="fa fa-clock-o"></i> &nbsp;@LocalizationHelper.Translate("GetLiveSSSmokeTime", "SmokeSession")</strong></td>
            <td><span id="smokeDuration">@Model.Duration.ToString(@"hh\:mm\:ss")</span></td>
        </tr>

        <tr>
            <td><strong><i class="fa fa-trophy"></i>&nbsp;@LocalizationHelper.Translate("GetLiveSSLongestPuff", "SmokeSession")</strong></td>
            <td><span id="longestPufsec">@Model.LongestPuf.ToString(@"s\.fff") sec.</span></td>
        </tr>}
        
    <tr>
        <td><strong><i class="fa fa-hourglass-half"></i>&nbsp;@LocalizationHelper.Translate("GetLiveSSSessionDuration", "SmokeSession")</strong></td>
        <td> <span id="smokeSessionDuration">@((DateTime.UtcNow - Model.Start).ToString(@"hh\:mm\:ss"))</span> @LocalizationHelper.Translate("GetLiveSSStarted", "SmokeSession") <span data-time="@Model.Start.ToString("dd-MM-yyyy HH:mm:ss")" id="smokeSessionStart"></span></td>
    </tr>

    </tbody>
</table>


<input type="hidden" id="longestPuf" value="@Model.LongestPuf.TotalMilliseconds"/>



<script type="text/javascript">

</script>