@using smartHookah.Helpers

<tobacco-review>

  <review-chart />

  <div v-show="!edit" class="review-div" id="reviewSliders">
        <fieldset class="form-group">
            <div class="bmd-label-static">@LocalizationHelper.Translate("_TobaccoRevSmokeQ", "SmokeSession")&nbsp;-&nbsp;<h6 style="display: inline; font-weight: bold">{{review.Smoke + '/10'}}</h6></div>
            <div class="form-control">
                <input class="col-md-12 review-slider" type="range" min="0" max="10" step="1" id="Smoke" v-bind:disabled="edit" v-model="review.Smoke"/>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="bmd-label-static">@LocalizationHelper.Translate("_TobaccoRevTobTaste", "SmokeSession")&nbsp;-&nbsp;<h6 style="display: inline; font-weight: bold">{{review.Taste + '/10'}}</h6></div>
            <div class="form-control">
                <input class="col-md-12 review-slider" type="range" min="0" max="10" step="1" id="Taste" v-bind:disabled="edit" v-model="review.Taste"/>
            </div>
        </div>

        <div class="form-group">
            <div class="bmd-label-static">@LocalizationHelper.Translate("_TobaccoRevTobaccoQ", "SmokeSession")&nbsp;-&nbsp;<h6 style="display: inline; font-weight: bold">{{review.Quality + '/10'}}</h6></div>
            <div class="form-control">
                <input class="col-md-12 review-slider" type="range" min="0" max="10" step="1" id="Quality" v-bind:disabled="edit" v-model="review.Quality"/>
            </div>
        </div>

        <div class="form-group">
            <div class="bmd-label-static">@LocalizationHelper.Translate("_TobaccoRevOverallRating", "SmokeSession")&nbsp;-&nbsp;<h6 style="display: inline; font-weight: bold">{{review.Overall + '/10'}}</h6></div>
            <div class="form-control">
                <input class="col-md-12 review-slider" type="range" min="0" max="10" step="1" id="Rating" v-bind:disabled="edit" v-model="review.Overall"/>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="bmd-label-static">@LocalizationHelper.Translate("_TobaccoRevTextReview", "SmokeSession")</label>
        <div>
            <textarea  class="col-md-12 review-text form-control" id="Text" v-bind:disabled="edit" v-model="review.Text"></textarea>
        </div>
    </div>

    <div class="form-group">
        <button v-show="edit" class="btn btn-primary btn-raised" v-bind:disabled="!edit" v-on:click="edit = !edit">@LocalizationHelper.Translate("Edit", "Common")</button>

        <button v-show="!edit" class="btn btn-danger btn-raised" v-bind:disabled="edit" v-on:click="cancelReview()">@LocalizationHelper.Translate("Cancel", "Common")</button>

        <button class="btn btn-success btn-raised" style="float: right" v-bind:disabled="edit" v-on:click="saveReview()">@LocalizationHelper.Translate("SaveChanges", "Common")</button>
    </div>
</tobacco-review>

<script type="text/javascript">
  



  function getTextLines() {
    var lines = vm.$data.review.Text.split(/\r\n|\r|\n/);
    return lines.length;
  }

  $('#Text').on("focus",
    function() {
      if (getTextLines() < 10) {
        $(this).animate({ rows: 10 }, 'fast');
      }
    }).on("blur",
    function() {
      if (getTextLines() < 11) {
        $(this).animate({ rows: getTextLines() }, 'fast');
      }
    });
</script>


