@model smartHookah.Models.Db.Place.Place

@{
    ViewBag.Title = @Model.Name + "media";

}


<div class="card-deck">
    
    @foreach (var media in @Model.Medias)
    {
        <div class="card">
            <div class="card-body">
                <img src="@media.Sized()" alt="@media.Id" height="300px"/>
            </div>
            <div class="footer">
                <a class="btn btn-danger" href="@Url.Action("DeleteMedia",new {id = Model.Id, mediaId = media.Id})">Remove&nbsp;<i class="fa fa-trash"></i></a>
            </div>
        </div>
    }
</div>

@section dropmenu
{
    <a href="@Url.Action("Create",new {controller="Media",id = @Model.Id,type="place"})" class="btn btn-success">Add new</a>
}
