@using smartHookah.Support
@model smartHookah.Models.SeatManagerModel

@{
    ViewBag.Title = "Seats";
}

<div class="card">
    <div class="card-block">
        <div>@Html.Raw(@Model.place.Map)</div>
        <ul>
            @foreach (var s in Model.Seats)
            {
                <li>
                    <div style="text-align: center">

                        <h2>@s.Name Kapacita :@s.Capacity</h2>

                    </div>
                    
                </li>

            }
        </ul>
        <a class="btn btn-success btn-raised" href="@Url.Action("EditSeat","Places",new {id = Model.PlaceId})">Edit seats</a>
        <a class="btn btn-danger" href="@Url.Action("Manage","Places",new {id = Model.PlaceId})">Back</a>
    </div>

</div>