@using smartHookah.Helpers
@using smartHookah.Migrations
@using Westwind.Globalization
@using System.Globalization
@model smartHookah.Controllers.CreateReservationModel

@{
    var dayName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.DayNames[(int)DateTime.Now.DayOfWeek]);
    ViewBag.Title = @Model.place.Name + $" - <span id='titleDay'>{dayName}</span> <span id='titleDate'>{DateTime.Now.ToString("d.M.yyyy")}</span>";

}
@Styles.Render("~/Content/gij")

<style>


    .container {
        max-width: 99%;
    }

    td.timeSlot:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        opacity: 0.9;
    }

    td.timeSlot.taken {
        background-color: #f44336;
    }

    td.timeSlot.confirmed {
        background-color: yellow;
    }

    td.timeSlot.visitconfirmed {
        background-color: #03a9f4;
    }

    td.timeSlot.over {
        opacity: 0.5;
    }

    td.timeSlot.free {
        background-color: #4caf50;
    }

    td.timeSlot.selected {
        box-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.5);
        border-color: black;
        border-width: 2px 0 0 2px;
        opacity: 0.9;
        cursor: move;
        font-weight: bold;
    }

    td.timeSlot.free.selected {
        box-shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.5);
        border-color: black;
        border-width: 2px 0 0 2px;
        opacity: 0.9;
        background-color: aliceblue;
        cursor: default;
    }


    td.timeSlot {
        border: 1px solid;
    }

    td.tableCapacity {
        font-weight: bold;
    }

    .controlls {
        float: right;
    }

    ul.canceled {
        column-count: 4;
        list-style-type: none;
    }

    .bmd-drawer-f-l > .bmd-layout-drawer {
        top: 0 !important;
        left: 0 !important;
        width: 240px !important;
        height: 100% !important;
        -webkit-transform: translateX(-250px) !important;
        -ms-transform: translateX(-250px) !important;
        -o-transform: translateX(-250px) !important;
        transform: translateX(-250px) !important;
    }

    .bmd-drawer-f-l > .bmd-layout-header, .bmd-drawer-f-l > .bmd-layout-content {
        margin-left: 0 !important;
    }

    .bmd-layout-header > .navbar {
        min-height: 3rem;
    }

    button.navbar-toggler {
        display: inline-block !important;
    }

    header.bmd-layout-header {
        width: 100% !important;
    }

    @@media (max-width: 1400px) {

        .table th, .table td {
            padding: 0.5rem;
        }
    }
</style>

<div id="app">
  <reservation_place place-id="@Model.place.Id"/>
</div>

@Scripts.Render("~/bundles/gij")
@Scripts.Render("~/bundles/babel")


@section scripts
{

    <script type="text/javascript">
   
    Timer:null,
        $(function() {
            $('#datepicker').datepicker({
                showOtherMonths: true,
                weekStartDay: 1,
                uiLibrary: 'materialdesign',
                format: 'dd.mm.yyyy',
                locale: '@LocalizationHelper.getCurentCultureString()',
                value: moment().format('DD.MM.YYYY'),
                change: function() {
                    v.dateChanged();
                }
            });
    })


    var v = new Mana.default({ el: '#app' });
    

    function changeDate(offset) {
        $('#datepicker').datepicker().value(moment($('#datepicker').datepicker().value(),'DD.MM.YYYY').add(offset, 'days').format('DD.MM.YYYY'));
    }
      
     
    </script>
}
