@model int

@{
    ViewBag.Title = "Create new media";
    string type = ViewBag.type;
}
@Styles.Render("~/Content/slim")

@functions{
    private static string TokenHeaderValue()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


<div class="card">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("id", @Model)
            @Html.Hidden("type", type)

            <div class="form-group">
                <div class="slim"
                     data-meta-id="@Model"
                     data-meta-type="@type"
                     data-service-format="file"
                     data-service="/Media/Create/@{@Model}?type=@type" ,
                     data-push="false"
                     data-size="1800,1200"
                     data-did-upload="imageUpload"
                     data-ratio="3:2"
                     >
                </div>
            </div>
        </div>
    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/slim")
    <script language="javascript">
        function imageUpload(error, data, response) {
            window.history.back();
        }
    </script>

}
